body{
    background-color: rgb(240, 49, 97);
    
}
h1{
    text-align: center;
    text-decoration: solid;
}

.start{

    text-align: center;
    font-size: 30;
}

.track{
    padding-bottom: 250px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    margin-left: 50px;
    background-color: white;
    text-align: center;
    float: left;
    
    
}

.intp{

    background-color: aliceblue;
    padding: 10px;
    width: 30px;
}


.score{

    float: left;
    font-size: 19px;
    
}

